@using BlazorServer.Models

<div class="simple-form">

    <div class="form-group">
        <label for="name">Name</label>
        <input @bind="person.name" type="text" class="form-control" id="name" placeholder="Enter name" />
    </div>

    <div class="form-group">
        <label for="email">Phone</label>
        <input @bind="person.phone" type="text" class="form-control" id="phone" placeholder="Enter phone" />
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input @bind="person.email" type="text" class="form-control" id="email" placeholder="Enter email" />
    </div>

    <button @onclick="SubmitForm" class="btn btn-outline-dark">Submit</button>
    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
</div>

@code {

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    PersonModel person = new();

    protected override void OnInitialized() => BlazoredModal.SetTitle("Enter Data");

    async Task SubmitForm() => await BlazoredModal.CloseAsync(ModalResult.Ok<PersonModel>(person));
    async Task Cancel() => await BlazoredModal.CancelAsync();

}

